@model InventoryManager.Repository.Models.Product;

@{
    ViewData["Title"] = "Add Product";
}

<div class="col-md-9">
    <h1 class="display-4 text-center">Add Product</h1>
    <div asp-asp-validation-summary="All" class="text-danger" />
    <form asp-action="Add" class="d-flex gap-2 flex-column w-50 mx-auto">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price)
            @Html.ValidationMessageFor(m => m.Price)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Quantity)
            @Html.TextBoxFor(m => m.Quantity)
            @Html.ValidationMessageFor(m => m.Quantity)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Category)
            @Html.DropDownListFor(m => m.Category,
            new SelectList(new[] { "Electronics", "Kitchen", "Beauty", "Toys", "Book" }),
                        "Select Category",
                        new { @class = "form-control" }
                        );
            @Html.ValidationMessageFor(m => m.Category)
        </div>

        <div class="form-group">
            <input type="submit" value="Add Product" class="btn btn-primary" />
        </div>
    </form>
</div>
</div>